* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans HK", sans-serif;
}

body {
  position: relative;
}

body img.orange {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 55vw;
  height: 100%;
}

header nav {
  width: 100%;
}

header nav ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 2rem;
}

header nav ul li {
  font-size: 1.75rem;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

header nav ul li:hover {
  background-color: #ebb8a8;
}

header nav ul a:hover {
  color: white;
  text-decoration: none;
  padding: 0;
}

div.project {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.project li {
  float: left;
  position: relative;
  width: 100%;
}

div.project li ul {
  padding: 0rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.project li ul li {
  border-bottom: 2px solid gray;
}

div.project a {
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#submenu {
  width: auto;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  visibility: hidden;
  z-index: 1;
}

li:hover ul#submenu {
  background-color: #eec5ad;
  opacity: 1;
  top: 40px;
  /* adjust this as per top nav padding top & bottom comes */
  visibility: visible;
}

#submenu li {
  float: none;
  width: 100%;
}

#submenu a :hover {
  color: white;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
  border-left-color: crimson;
}

.pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}

button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

code {
  color: #e4cb58;
  font: inherit;
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  -webkit-box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--hover);
            box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--hover);
            box-shadow: 0 0 0 0 var(--hover);
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.left {
  padding: 2rem;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 500px;
          flex: 3 1 500px;
}

main section.left h1 {
  font-size: 4rem;
  color: #e08958;
}

main section.left p {
  font-size: 1.5rem;
  padding: 1rem 0rem;
}

main section.right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  position: relative;
}

main section.right img.myPic {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  position: absolute;
  top: 58vh;
  right: 25vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main section.table {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 500px;
          flex: 3 1 500px;
  padding: 2rem;
}

main section.table table {
  border-collapse: collapse;
}

main section.table table tr {
  border-bottom: 2px solid gray;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

main section.table table tr:hover {
  background-color: #f5d9bf;
}

main section.table table tr td {
  padding: 1rem;
}

main section.table table tr img {
  width: 3vw;
  height: 4vw;
  margin-right: 1rem;
}

main section.form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
}

main section.form form {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
}

main section.form form div {
  margin: 1.5rem;
}

main section.form form div label {
  font-size: 1.5rem;
  margin-right: 1rem;
}

main section.form form div input,
main section.form form div textarea {
  background-color: #e08958;
  color: white;
  font-size: 1.25rem;
  padding: 0.5rem 0.25rem;
  border: none;
  width: 35vw;
  width: 80%;
}

main section.form form div textarea {
  vertical-align: top;
}

main section.form form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #e08958;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
  border-radius: 10px;
}

main div.line {
  background-color: gray;
  width: 3px;
}

main section.contact {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.contact div.content {
  margin-left: 2rem;
}

main section.contact div.content h2 {
  margin: 1rem 0rem;
}

section.picture {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  position: relative;
}

section.picture img {
  width: 30vw;
}

section.picture div.orangeRect {
  position: absolute;
  background-color: #e08958;
  width: 30vw;
  height: 90vh;
  top: 10vh;
  right: 10vw;
  z-index: -1;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d4d3d3;
  height: 40vh;
}

footer h1 {
  padding: 1.5rem 0rem;
}

footer a {
  padding: 1rem;
}

.active {
  color: #e08958;
}

@media screen and (max-width: 1100px) {
  .orange {
    opacity: 0.5;
  }
  header nav {
    padding-left: 2rem;
  }
  header nav ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li {
    padding: 1rem 0rem;
    border-bottom: 2px solid gray;
  }
}

@media screen and (max-width: 1100px) and (max-width: 1100px) {
  main section.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.right img.myPic {
    position: static;
    -webkit-transform: none;
            transform: none;
    width: 50vw;
    height: 50vw;
    margin: 1rem;
  }
  main section.picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.picture img {
    width: 50vw;
  }
  main section.picture div.orangeRect {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */